div{
	border: 1px solid black;
	background: #f5f5f5;
	max-width: 500px;
    margin: auto;
    padding: 20px;
    margin-top: 60px;
    border-radius: 25px;
}



h2{
	max-width: 500px;
    margin: auto;
   /*font-family: 'Quantico', sans-serif;*/
    
    
    font-family: 'Amaranth', sans-serif;


}
.tbox{
width:350px;
height:40px;
overflow: hidden;
border-radius:0.5em;
}
.tbut{
	width:90px;
height:30px;
overflow: hidden;
border-radius:0.5em;
background-color: #52D5FF;
}

label{
	/*font-weight: bold;*/
	font-family: 'Amaranth', sans-serif;
}